body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    border: 4px black dotted;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

div {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.tile {
    width: 10px;
    height: 10px;
    border: 1px black dotted;
}

.highlighted {
    background-color: yellow;
}

/* .tile:hover {
    background-color: red;
} */