body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

div {
    margin: 0;
    padding: 0;
}

#container {
    flex: none;
    height: 40vw;
    width: 40vw;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    display: flex;
}

.tile {
    flex: 1;
    /* width: 10px;
    height: 10px; */
    border: 1px rgba(0,0,0,0.1) dotted;
}

.highlighted {
    background-color: yellow;
}

/* .tile:hover {
    background-color: red;
} */